<h2>Update your task</h2>

<%= form_for @task, url: {action: "update"} do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <br>
  <br>
  <p>Details</p>
  <%= f.text_area :details, size: "30x12" %>
  <%= f.label "completed" %> <br />
  <%= f.check_box :completed %> <br />
  <%= f.submit "Update task" %>
<% end %>

<h3><%= link_to "Back to the list", tasks_path %></h3>
